/* test1 */
/*---------- Экран1 ----------*/

*{
    margin:0;
    padding:0;
    line-height: 140%; /*высота ВЫДЕЛЕНИЯ текста*/
}

body{
    font-family: 'TT Hoves';
    color:#222; /*не совсем чёрный*/
}

section{
   padding: 0 calc(10.6vw - 16px);   /*120px*/ /*слева и справа отступы*/

   margin-bottom: 160px;   /*calc(11vw + 19px);*/   /*160px;*/
}

.hello{
   background-image: url('../img/html_css_js.png');
   background-repeat: no-repeat;
   background-position: right 20px top 70px;
   background-size: calc(23.8vw + 90px);
}

/*
section:last-child{
    margin-bottom: 0;
}
*/
.logo{
   width: calc(1vw + 181px);   /*295px;*/
   /*высоту можно не задавать-будет соразмерно сколько нужно, т.к. скачали файл*/
   margin-top: 37px;
}

.courseData{
    margin-top: calc(6.3vw + 5px);   /*85px;*/
    margin-bottom: calc(3.2vw + 36px);   /*76px;*/
    display:flex;
    flex-wrap: wrap;

    /*gap: 30px 160px;*/
    /*font-size: 21px;*/

    gap: 30px calc(17.7vw + 66px);
    font-size: calc(0.6vw + 14px);

    /*line-height: 140%;*/
}

/*
.courseInfo .title{
    font-size: 21px;
    line-height: 140%;
}
*/

.courseInfo .value{
    /*font-size: 21px;*/
    /*line-height: 140%;*/
    font-weight: 700;
}

h1{
    font-family: Chava;
    font-size: calc(4.2vw + 26px);   /*80px;*/
    line-height: 110%;
    margin-bottom: 40px;
}

#scr1{                       /*p{*/
    font-size: calc(1vw + 14px);   /*27px;*/
    font-weight: 300;
    /*line-height: 140%;*/
}

.cta{
   display: flex;
   gap: 20px 30px;
   flex-wrap: wrap;
   margin-top: 20px;
   
   /* margin-bottom: 160px; */
}

.primary{
    flex-basis: 328px;
    flex-grow: 0;
    flex-shrink: 1;

    border-radius: 12px;
    background: #6E3ABA;
    padding: 20px 0px;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.secondary{
    flex-basis: 328px;
    flex-grow: 0;
    flex-shrink: 1;

    border-radius: 12px;
    background: white;
    padding: 20px 0px;
    color: #6E3ABA;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #6E3ABA;
}



/*---------- Экран2 ----------*/

h2{
    width: calc(49.2vw + 149px);/*769px;*/
    margin-bottom: 90px;
    font-size: calc(2.7vw + 24px);/*58px;*/
    font-weight: 500;
    letter-spacing: 0.58px;
    text-transform: uppercase;
}
/*
@media (max-width: 768px) {
    h2 {
        width: 500px;
    }
}
*/
.one_two{
    display:flex;
    flex-wrap: wrap;
    gap: 20px 70px;
}

.three_four{
    display:flex;
    flex-wrap: wrap;
    gap: 20px 70px;
}

.boy0 {
    display:flex;
    flex-wrap: wrap;
    gap: 20px 70px;

    flex-direction: column;
}

.girl0 {
    display:flex;
    flex-wrap: wrap;
    gap: 20px 70px;

    flex-direction: column;
}
.boy {
    display:flex;
    flex-wrap: wrap;
    gap: 20px 70px;

    flex-direction: column;
}

.girl {
    display:flex;
    flex-wrap: wrap;
    gap: 20px 70px;

    flex-direction: column;
}

.one_two .photo{
    width: 287px;
    height: 287px;
    flex-grow: 0;
    margin-bottom: 2px;
    margin-top: 0;
    /*flex-shrink: 1;*/
}

.three_four .photo{
    width: 287px;
    height: 287px;
    flex-grow: 0;
    margin-bottom: 20px;
    margin-top: 0;
    /*flex-shrink: 1;*/
}

.photo img {
    width: 100%;
    height: 100%;
}

.category{
    width: 420px;
    text-transform: uppercase;
    font-size: calc(1vw + 14px);   /*27px;*/
    font-weight: 600;
    margin-bottom: 20px;

    /*flex-grow: 0;
    flex-shrink: 1;*/
}

p.scr2{
    width: calc(13.5vw + 277px);/*450px;*/
    margin-bottom: 52px;
    font-size: 27px;
    font-size: calc(1vw + 14px);
    /*flex-grow: 0;
    flex-shrink: 1;*/
}



/*---------- Экран3 ----------*/
.purple {
    background: #6E3ABA;
    background-size: 95% 100%;/*test*/
}

h3{
    font-size: calc(2vw + 27px);
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.56px;

    text-align: center;
}

.time{
    display: flex;
    justify-content: space-around;
    margin: calc(4vw + 5px);   /*57px 0;*/
}

.timeBlock{
    /* flex-direction: column; */
    color: #2F1D4E;
}

.timeBlock .number{
    font-family: 'Chava';
    font-size: calc(12.6vw + 13px);   /* 174px; */
    line-height: 107.5%;
}

.timeBlock .date{
    text-align: center;
    font-size: calc(1.88vw + 3px);   /*27px;*/
    font-weight: 500;
    text-transform: uppercase;
}

.center{
    margin:0 auto;
}

.purple{   /* section .purple - не сработало !!! */
   padding-top: calc(4.4vw + 23px);   /*80px;*/
   padding-bottom: calc(5.2vw + 22px);   /*88px;*/
}



/*---------- Экран4 ----------*/
.legend{
    display:flex;
    margin-top: calc(5.5vw + 19px);
    gap: 20px 50px;
    flex-wrap: wrap;
}

.ym{
    flex-basis: 200px;
    flex-grow: 1;
}


.ym img{
    /*flex-basis: 100px;*/
    width: 100%;
}
.bio{
    flex-basis: 460px;
    flex-grow: 2;
}

.bio h3{
    color:#222;
    text-transform: capitalize;
    text-align: left;
    font-size: calc(1vw + 34px);
}

.achivs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(1vw + 26px) calc(8.8vw - 23px);
    margin-top: calc(5.5vw + 19px);
}

.achiv span{
    display: block;
    margin-top: 10px;
    font-size: calc(0.5vw + 14px);
}



/*---------- Экран5 ----------*/
.scr5{
    width: calc(76.7vw + 40px);   /*1022px;*/
    font-size: calc(2.65vw + 24px);   /*58px;*/
    font-weight: 500;
    letter-spacing: 0.58px;
    text-transform: uppercase;
}

.c12{
    display: flex;
    gap: 0 120px;
    margin-top: 52px;
    flex-wrap: wrap;
}

.c1{
    width: 428px;
    /* height: 114px; */
    font-size: calc(1vw + 14px);   /*27px;*/
}

.naim{
    line-height: 140%;
    /*font-size: 27px;*/
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.tekst{
    /*font-size: 27px;*/
    line-height: 140%;
    margin-bottom: 20px;
}
    


/*---------- Экран6 ----------*/
.prog{
    border: 2px solid black;
    padding: calc(4.4vw + 23px) calc(4.9vw + 2px) calc(1.3vw + 18px);/*80px 64px 35px;*/
    position: relative;   /* corner относительно prog-а, а не всего html по умолчанию */
}
#corner{
    width: calc(8vw);
    position: absolute;
    /*position: fixed;*/   /* онлайн-чат - спускается вместе с тобой */
    /*position: sticky;*/   /* липкий - ждёт тебя и потом прилепляется */
    top: -2px;
    right: -2px;
}
.lesson{
    padding: 24px 0;
    border-bottom: 1px solid #A1A1A1;
}

.scr6 .primary{
    width: 424px;
    margin-top: 34px;
}

.prog h2{
    margin-bottom: 16px;
}
.desktop{
    display: block;
}
.mobile{
    display: none;
}
@media (max-width: 700px) {
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .lesson:nth-child(8){   /*восьмой элемент у своего родителя*/
        border: 0;
        padding-bottom: 0;
    }
}



/*---------- Экран7 ----------*/
.sec7{
    display:grid;
    /*grid-template: 4/14;*/
    grid-template-columns: repeat(14, 1fr);
    gap: 20px;
}
.scr7h2{
    /*width: calc(27.6vw + 224px);*/
    margin-bottom: 20px;
    font-size: calc(2.7vw + 24px);/*58px;*/
    width: calc(20.6vw + 251px);

    grid-row: 1/3;
    grid-column: 7/15;
}
.fotodiplom{
    width: calc(11.4vw + 284px);/*430px;*/
    grid-row: 1/5;
    grid-column: 1/7;
}
.fotodiplom img{
    width: 100%;
    height: 100%;
}
.textdiplom{
    font-size: calc(1vw + 14px);   /*27px;*/
    width: calc(20.6vw + 251px);/*514px;*/
    grid-row: 3/5;
    grid-column: 7/15;
}
@media(max-width:1000px){
    .sec7{
        display:grid;
        /* grid-template: 4/1; */
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .scr7h2{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .fotodiplom{
        grid-row: 2/4;
        grid-column: 1/2;
        width: 327px;
    }
    .fotodiplom img{
        width: 100%;
        height: 100%;
    }
    .textdiplom{
        grid-row: 4/5;
        grid-column: 1/2;
    }
    
}



/*---------- Экран8 ----------*/
.zp{
    display: grid;
    grid-template: 4/14;

}
.f1{
    grid-row: 1/3;
    grid-column: 2/12;
}
.f2{
    grid-row: 2/4;
    grid-column: 5/15;
}
.f3{
    grid-row: 3/5;
    grid-column: 1/11;
}
.zp img{
    width: calc(57.5vw + 15px);/*750px;*/
}
.scr8 p{
    font-size: calc(1vw + 14px);/*27px;*/
    margin-bottom: calc(2.2vw + 12px);/*40px;*/
}
.scr8h2{
    margin-bottom: calc(2.2vw + 12px);/*40px;*/
}



/*---------- Экран9 ----------*/
.scr9h2{
    margin-bottom: calc(1.1vw + 16px);/*30px;*/
}
.present{
    display:flex;
    flex-wrap: wrap;
    gap: 20px 0;
}
.fotopresent{
    width: calc(11vw + 359px);
}

.fotopresent img{
    width: 100%;
    height: 100%;
}

.word{
    width: calc(21.2vw + 248px);
    font-size: calc(0.3vw + 16.8px);/*21px;*/
}
.word div{
    margin-bottom: calc(0.6vw + 18px);/*25px;*/
}



/*---------- Экран10 ----------*/
.sec10 h2{
    width: calc(56.6vw + 116px);
    font-size:  calc(2.7vw + 24px);
    font-weight: 500;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-right: 0;
    margin-bottom: calc(2.2vw + 12px);
}
.feedbacks{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.feedback{
    width: 300px;
    /*height: 484px;*/
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 52px;
    background-color: #F0F7FD;;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.youtube{
    width: 38px;
    height: 38px;
}
.sec10 p{
    width: 305px;
    height: 261px;
    margin-bottom: 40px;
    font-size: 21px;
    line-height: 140%;
}
.user{
    display: flex;
    gap: 12px;
}
.user img{
    border-radius: 50%;
}
.username{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



/*---------- Экран11 (как экран3) ----------*/



/*---------- Экран12 ----------*/
.hvalya{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "A B"
                         "A C";
    grid-gap: calc(1.1vw + 26px) calc(10.7vw + 40px);   /*40px 97px*/
}
.rez{
    grid-area: A;
}
.vipusk{
    grid-area: B;
}
.napr{
    grid-area: C;
}

.rezimg{
    margin-bottom: calc(2.2vw + 12px);/*40px;*/
}
.reztxt{
    width: calc(10.8vw + 287px);/*426px;*/
    font-size: calc(0.6vw + 20px);/*27px;*/
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
}
.bold{
    /*width: calc(14.7vw + 273px);*//*461px;*/
    font-size: calc(2.0vw + 24px);/*2.7vw*//*58px;*/
    font-weight: 700;
    letter-spacing: 0.58px;
}
.small{
    font-size: calc(0.6vw + 14px);/*21px;*/
    line-height: 140%;
}

@media (max-width: 1240px) {
    .hvalya{
        grid-template-columns: 1fr;
        grid-template-areas: "A"
                             "B"
                             "C";
}
}



/*---------- Экран13 ----------*/
.sec13 h2 {
    width: calc(58.2vw + 110px);/*855px;*/
    margin-bottom: 14px;/*cal(-0.66vw + 22px);*/
}
.sec13 p {
    width: calc(46.4vw + 154px);/*748px;*/
    font-size: calc(1vw + 14px);/*27px;*/
    line-height: 140%;
    margin-bottom: calc(0.4vw + 18px);/*24px;*/
}
.sec13 img {
    width: calc(19.8vw + 254px);/*507px;*/
    height: calc(19.8vw + 254px);/*506px;*/
}



/*---------- Экран14 ----------*/
.black{
    background-color: #222;
}
.common{
    display: flex;
    flex-wrap: wrap;
    gap: 90px 145px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.black h2{
    color: white;
    width: calc(10.5vw + 290px);
    line-height: normal;
    margin-bottom: 79px;
    margin-top: 0;
}
.infocourse{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 24px;
    font-size: calc(1vw + 14px);
}
.infocourse div{
    display: flex;
    gap: 20px;
}
.infocourse div:first-child{
    text-transform: uppercase;
}



.white{
    background-color: white;
    border-radius: 12px;
    width: calc(2vw + 366px);
    margin-top: 20px;
    padding-top: 60px;
    padding-bottom: 50px;

    padding-left: calc(4.9vw);
    padding-right: 0px;
    position: relative;
}
.white h2{
    color: white;
    font-size: 63px;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 150px;
    width: 159px;
    height: 159px;
    border-radius: 50%;
    position: absolute;
    top: -61px;
    left: -67px;
}
.white h4{
    text-transform: uppercase;
    font-size: /*30px;*/calc(0.4vw + 24px);
    font-weight: 700;
    text-align: center;
}
.white .nach{
    font-size: /*21px;*/calc(0.6vw + 14px);
    text-align: center;
    margin-bottom: 30px;
}
input{
    border: none;
    width: /*338px;*/calc(7.8vw + 238px);
    height: /*40px;*/calc(0.3vw + 36px);
    font-size: /*20px;*/calc(0.2vw + 17px);
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.17);
}
.t{
    display: flex;
    flex-direction: column;
    gap: 15px;
    /*font-size: 20px;*/
    text-transform: capitalize;
    line-height: 150%;
}
.nom{
    width: calc(1.2vw + 92px);
}
hr{
    width: 338px;
    margin-top: 0;
}
#knopka{
    border-radius: 12px;
    width: 338px;
    height: 61px;
    margin-top: 30px;
    margin-bottom: 41px;
    text-transform: none;
}
.grey{
    color: grey;
    text-align: center;
    font-size: 18px;
    line-height: normal;
    text-transform: lowercase;
    display: flex;
    flex-direction: column;
}
#jir{
    font-weight: 600;
}

@media (max-width: 700px) {
    .white h2{
        top: -61px;
        right: -67px;
    }
}