/* test1 */
/*---------- Экран1 ----------*/

*{
    margin:0;
    padding:0;
    line-height: 140%; /*высота ВЫДЕЛЕНИЯ текста*/
}

body{
    font-family: 'TT Hoves';
    color:#222; /*не совсем чёрный*/
}

section{
   padding: 0 calc(10.6vw - 16px);   /*120px*/ /*слева и справа отступы*/

   margin-bottom: 160px;/*calc(1.1vw + 19px);*/   /*160px;*/
}

.hello{
   background-image: url('../img/html_css_js.png');
   background-repeat: no-repeat;
   background-position: right 20px top 70px;
   background-size: calc(23.8vw + 90px);
}

/*
section:last-child{
    margin-bottom: 0;
}
*/
.logo{
   width: calc(1vw + 181px);   /*295px;*/
   /*высоту можно не задавать-будет соразмерно сколько нужно, т.к. скачали файл*/
   margin-top: 37px;
}

.courseData{
    margin-top: calc(6.3vw + 5px);   /*85px;*/
    margin-bottom: calc(3.2vw + 36px);   /*76px;*/
    display:flex;
    flex-wrap: wrap;

    /*gap: 30px 160px;*/
    /*font-size: 21px;*/

    gap: 30px calc(17.7vw + 66px);
    font-size: calc(0.6vw + 14px);

    /*line-height: 140%;*/
}

/*
.courseInfo .title{
    font-size: 21px;
    line-height: 140%;
}
*/

.courseInfo .value{
    /*font-size: 21px;*/
    /*line-height: 140%;*/
    font-weight: 700;
}

h1{
    font-family: Chava;
    font-size: calc(4.2vw + 26px);   /*80px;*/
    line-height: 110%;
    margin-bottom: 40px;
}

#scr1{                       /*p{*/
    font-size: calc(1vw + 14px);   /*27px;*/
    font-weight: 300;
    /*line-height: 140%;*/
}

.cta{
   display: flex;
   gap: 20px 30px;
   flex-wrap: wrap;
   margin-top: 20px;
   
   /* margin-bottom: 160px; */
}

.primary{
    flex-basis: 328px;
    flex-grow: 0;
    flex-shrink: 1;

    border-radius: 12px;
    background: #6E3ABA;
    padding: 20px 0px;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.secondary{
    flex-basis: 328px;
    flex-grow: 0;
    flex-shrink: 1;

    border-radius: 12px;
    background: white;
    padding: 20px 0px;
    color: #6E3ABA;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #6E3ABA;
}



/*---------- Экран2 ----------*/

h2{
    width: calc(49.2vw + 149px);/*769px;*/
    margin-bottom: 90px;
    font-size: 58px;
    font-weight: 500;
    letter-spacing: 0.58px;
    text-transform: uppercase;
}
/*
@media (max-width: 768px) {
    h2 {
        width: 500px;
    }
}
*/
.one_two{
    display:flex;
    flex-wrap: wrap;
    gap: 20px 70px;
}

.three_four{
    display:flex;
    flex-wrap: wrap;
    gap: 20px 70px;
}

.boy0 {
    display:flex;
    flex-wrap: wrap;
    gap: 20px 70px;

    flex-direction: column;
}

.girl0 {
    display:flex;
    flex-wrap: wrap;
    gap: 20px 70px;

    flex-direction: column;
}
.boy {
    display:flex;
    flex-wrap: wrap;
    gap: 20px 70px;

    flex-direction: column;
}

.girl {
    display:flex;
    flex-wrap: wrap;
    gap: 20px 70px;

    flex-direction: column;
}

.one_two .photo{
    width: 287px;
    height: 287px;
    flex-grow: 0;
    margin-bottom: 2px;
    margin-top: 0;
    /*flex-shrink: 1;*/
}

.three_four .photo{
    width: 287px;
    height: 287px;
    flex-grow: 0;
    margin-bottom: 20px;
    margin-top: 0;
    /*flex-shrink: 1;*/
}

.photo img {
    width: 100%;
    height: 100%;
}

.category{
    width: 420px;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;

    /*flex-grow: 0;
    flex-shrink: 1;*/
}

p.scr2{
    width: 450px;
    margin-bottom: 52px;
    font-size: 27px;

    /*flex-grow: 0;
    flex-shrink: 1;*/
}



/*---------- Экран3 ----------*/
.purple {
    background: #6E3ABA;
}

h3{
    font-size: calc(2vw + 27px);
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.56px;

    text-align: center;
}

.time{
    display: flex;
    justify-content: space-around;
    margin: calc(4vw + 5px);   /*57px 0;*/
}

.timeBlock{
    /* flex-direction: column; */
    color: #2F1D4E;
}

.timeBlock .number{
    font-family: 'Chava';
    font-size: calc(12.6vw + 13px);   /* 174px; */
    line-height: 107.5%;
}

.timeBlock .date{
    text-align: center;
    font-size: calc(1.88vw + 3px);   /*27px;*/
    font-weight: 500;
    text-transform: uppercase;
}

.center{
    margin:0 auto;
}

.purple{   /* section .purple - не сработало !!! */
   padding-top: calc(4.4vw + 23px);   /*80px;*/
   padding-bottom: calc(5.2vw + 22px);   /*88px;*/
}



/*---------- Экран5 ----------*/
.scr5{
    width: calc(76.7vw + 40px);   /*1022px;*/
    font-size: calc(2.65vw + 24);   /*58px;*/
    font-weight: 500;
    letter-spacing: 0.58px;
    text-transform: uppercase;
}

.c12{
    display: flex;
    gap: 0 120px;
    margin-top: 52px;
}

.c1{
    width: 428px;
    /* height: 114px; */
}

.naim{
    line-height: 140%;
    font-size: 27px;
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.tekst{
    font-size: 27px;
    line-height: 140%;
}



/*---------- Экран6 ----------*/
.quatro{
    /*border: 1px solid black;*/
    padding-left: calc(4.4vw + 9px);   /*64px;*/
    padding-top: 80px;
    padding-bottom: 35px;

    margin-top: 0;
    margin-bottom: 160px;
    margin-left: calc(10.5vw - 14px);
    
    background-image: url('../img/frame.png');
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: 100% 100%;

    position: relative;

    /*width: calc(76.7vw + 40px);*/   /*1065px;*/

}

.scr6{
    /*margin-top: 80px;*/
    margin-bottom: 40px;
}

.lesson{
    width: calc(71.6vw + 11px);   /*928px;*/
    font-size: calc(0.6vw + 14px);   /*21px;*/
    line-height: 140%;
    margin-bottom: 24px;
    border-bottom: 1px solid #A1A1A1;
}
